In [81]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
%matplotlib inline 
import seaborn as sns

In [82]:
parent_dir = '/mnt/d/Downloads/kagglE/g2net-gravitational-wave-detection/'

In [83]:
training_labels = pd.read_csv(parent_dir + 'training_labels.csv')
sample_submission = pd.read_csv(parent_dir + 'sample_submission.csv')

In [84]:
training_labels.head()

           id  target
0  00000e74ad       1
1  00001f4945       0
2  0000661522       0
3  00007a006a       0
4  0000a38978       1

In [85]:
sample_submission.head()

           id  target
0  00005bced6     0.5
1  0000806717     0.5
2  0000ef4fe1     0.5
3  00020de251     0.5
4  00024887b5     0.5